/* ==========================================================================
	Header
============================================================================= */

.header {
	padding: 15px 0;

	@media print {
		display: none;
	}
}

.header_ribbon {}

.header_ribbon_inner {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.header_ribbon_group {

	&:first-child {

		@media #{$min_lg} {
			align-items: center;
			display: flex;
			flex: auto;
			justify-content: space-between;
		}
	}
	
	&:last-child {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}
}

.header_email_link {
	@include button_fill;
	@include button_inline;

	background: $orange;
	border-color: $orange;

	.header & {
		
		@media #{$max_sm} {
			display: none;
		}
	}
}

.header_email_link_icon {}

.header_email_link_label {}
