<!DOCTYPE html>
<html class="no-js" lang="en" itemscope="" itemtype="http://schema.org/WebPage">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<title>About | Corgi Butt</title>
	<meta name="description" content="">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ffffff">
	<meta name="theme-color" content="#ffffff">
	<!-- Facebook -->
	<meta property="og:title" content="About">
	<meta property="og:type" content="website">
	<meta property="og:image" content="/images/temp/social-wide.jpg">
	<meta property="og:image:width" content="1220">
	<meta property="og:image:height" content="686">
	<meta property="og:description" content="We're a small team of two dedicated to making the Maryland website landscape a rewarding place for our community and an engaging environment for our clients.">
	<meta property="og:site_name" content="Corgi Butt">
	<script src="//code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="../../css/site.css?04-04">
	<link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Poppins:400,700" rel="stylesheet">
</head>

<body class="preload fs-grid page_layout_default">
	<a class="skip_link" id="skip_link" href="#page_main_content">Skip to Main Content</a>
	<!-- Page Wrapper -->
	<div class="page_wrapper">
		<!-- Header -->
		<header class="header" id="header" itemscope itemtype="http://schema.org/WPHeader">
			<div class="header_ribbon">
				<div class="fs-row">
					<div class="fs-cell">
						<div class="header_ribbon_inner">
							<div class="header_ribbon_group">
								<div class="logo logo_header logo_icon" itemscope itemtype="http://schema.org/Organization">
									<a class="logo_link" itemprop="url" href="page-home.html">
										<span class="logo_link_icon">
											<img class="logo_link_image" src="../../images/logo.svg" alt="" />
										</span>
										<span class="logo_link_label">Corgi Butt</span>
									</a>
									<meta content="http://example.dev.fastspot.com/site/images/logo-schema.png" itemprop="logo">
								</div>
								<nav class="js-main-nav js-main-nav-lg main_nav main_nav_lg" aria-label="Site" itemscope itemtype="http://schema.org/SiteNavigationElement">
									<div class="main_nav_header">
										<h2 class="main_nav_title">Site Navigation</h2>
									</div>
									<ul class="main_nav_list" aria-label="Site Navigation">
										<li class="js-main-nav-item-1 main_nav_item">
											<div class="main_nav_item_wrapper">
												<a class="main_nav_link" href="page-about.html" itemprop="url">
													<span class="main_nav_link_label" itemprop="name">About</span>
												</a>
											</div>
										</li>
										<li class="js-main-nav-item-2 main_nav_item">
											<div class="main_nav_item_wrapper">
												<a class="main_nav_link" href="page-pricing.html" itemprop="url">
													<span class="main_nav_link_label" itemprop="name">Pricing</span>
												</a>
											</div>
										</li>
										<li class="js-main-nav-item-3 main_nav_item">
											<div class="main_nav_item_wrapper">
												<a class="main_nav_link" href="page-contact.html" itemprop="url">
													<span class="main_nav_link_label" itemprop="name">Contact</span>
												</a>
											</div>
										</li>
									</ul>
								</nav>
							</div>
							<div class="header_ribbon_group">
								<a class="header_email_link" href="mailto:mimoduo@gmail.com">
									<span class="header_email_link_inner">
										<span class="header_email_link_icon"><svg class="icon icon_mail">
												<use xlink:href="../../images/icons.svg#mail"></use>
											</svg>
										</span>
										<span class="header_email_link_label">Email Us</span>
									</span>
								</a>
								<a class="js-swap js-menu-handle menu_handle" href="#menu" data-swap-target=".menu" data-swap-linked="menu">
									<span class="menu_handle_icon" aria-hidden="true"><svg class="icon icon_menu">
											<use xlink:href="../../images/icons.svg#menu"></use>
										</svg>
									</span>
									<span class="menu_handle_label">Open Menu</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- END: Header -->
		<!-- Page -->
		<main class="page" itemprop="mainContentOfPage">
			<!-- Page Feature -->
			<div class="page_feature">
			</div>
			<!-- END: Page Feature -->
			<!-- Page Content -->
			<div class="page_content">
				<div class="fs-row">
					<!-- Main Content -->
					<div class="fs-cell fs-lg-8 page_main_content" id="page_main_content" tabindex="-1">
						<!-- Page Header -->
						<div class="page_header">
							<h1 class="page_title">
								<span class="page_title_icon" aria-hidden="true"><svg class="icon icon_paw">
										<use xlink:href="../../images/icons.svg#paw"></use>
									</svg>
								</span>
								<span class="page_title_label">About</span>
							</h1>
							<p class="page_intro">We're a small team of two dedicated to making the Maryland website landscape a rewarding place for our community and an engaging environment for our clients.</p>
						</div>
						<!-- END: Page Header -->
						<!-- WYSIWYG -->
						<div class="typography">
						</div>
						<!-- END: WYSIWYG -->
						<!-- In Content Callouts -->
						<div class="in_content_callouts">
						</div>
						<!-- END: In Content Callouts -->
					</div>
					<!-- END: Main Content -->
					<!-- Sidebar Callouts -->
					<div class="fs-cell fs-lg-4 page_aside page_sidebar" itemscope itemtype="http://schema.org/WPSideBar">
					</div>
					<!-- END: Sidebar Callouts -->
				</div>
				<!-- Full Width Callouts -->
				<div class="full_width_callouts">
					<div class="directory">
						<div class="fs-row">
							<div class="fs-cell">
								<div class="directory_inner">
									<div class="directory_body">
										<ul class="directory_items" role="list" itemscope itemtype="http://schema.org/ItemList">
											<li class="directory_item" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
												<meta itemprop="position" content="1">
												<div class="directory_item_inner" itemscope itemtype="http://schema.org/Person">
													<figure class="directory_item_figure">
														<span class="directory_item_figure_icon"><svg class="icon icon_paw">
																<use xlink:href="../../images/icons.svg#paw"></use>
															</svg>
														</span>
														<a class="directory_item_figure_link" href="#">
															<div class="lazy_image_wrapper directory_item_image_wrapper">
																<img class="js-lazy js-lazyload directory_item_image" data-src="//images.fastspot.com/fastspot/500x500/1" alt="">
															</div>
															<noscript>
																<div class="directory_item_image_wrapper">
																	<img class="directory_item_image" src="//images.fastspot.com/fastspot/500x500/1" alt="">
																</div>
															</noscript>
														</a>
													</figure>
													<div class="directory_item_content">
														<header class="directory_item_header">
															<h3 class="directory_item_name" itemprop="name">Bryan Stoner</h3>
															<div class="directory_item_title">Founder, Designer, Developer</div>
														</header>
														<div class="directory_item_body">
															<div class="directory_item_description" itemprop="description">
																<p>Ever since I was a kid I drew crazy monsters, robot fortresses, and comic book characters. I'd even get myself into some sweet lego, kinect, and gundam model kits. Building websites stuck like crazy, just as my pasttimes did, when I started my career 7 years ago.</p>
															</div>
														</div>
													</div>
												</div>
											</li>
											<li class="directory_item" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
												<meta itemprop="position" content="2">
												<div class="directory_item_inner" itemscope itemtype="http://schema.org/Person">
													<figure class="directory_item_figure">
														<span class="directory_item_figure_icon"><svg class="icon icon_paw">
																<use xlink:href="../../images/icons.svg#paw"></use>
															</svg>
														</span>
														<a class="directory_item_figure_link" href="#">
															<div class="lazy_image_wrapper directory_item_image_wrapper">
																<img class="js-lazy js-lazyload directory_item_image" data-src="//images.fastspot.com/fastspot/500x500/2" alt="">
															</div>
															<noscript>
																<div class="directory_item_image_wrapper">
																	<img class="directory_item_image" src="//images.fastspot.com/fastspot/500x500/2" alt="">
																</div>
															</noscript>
														</a>
													</figure>
													<div class="directory_item_content">
														<header class="directory_item_header">
															<h3 class="directory_item_name" itemprop="name">Brandon Choi</h3>
															<div class="directory_item_title">Developer</div>
														</header>
														<div class="directory_item_body">
															<div class="directory_item_description" itemprop="description">
																<p>Ever since I was a kid i was into martial arts, videogames, and superheroes. I received my black belt in Taekwondo during high school and my black belt in Jujitsu in college. I graduated from UMBC in mechanical engineering and I've been studying web development for the past couple of years.</p>
															</div>
														</div>
													</div>
												</div>
											</li>
											<li class="directory_item" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
												<meta itemprop="position" content="3">
												<div class="directory_item_inner" itemscope itemtype="http://schema.org/Person">
													<figure class="directory_item_figure">
														<span class="directory_item_figure_icon"><svg class="icon icon_paw">
																<use xlink:href="../../images/icons.svg#paw"></use>
															</svg>
														</span>
														<a class="directory_item_figure_link" href="#">
															<div class="lazy_image_wrapper directory_item_image_wrapper">
																<img class="js-lazy js-lazyload directory_item_image" data-src="//images.fastspot.com/fastspot/500x500/3" alt="">
															</div>
															<noscript>
																<div class="directory_item_image_wrapper">
																	<img class="directory_item_image" src="//images.fastspot.com/fastspot/500x500/3" alt="">
																</div>
															</noscript>
														</a>
													</figure>
													<div class="directory_item_content">
														<header class="directory_item_header">
															<h3 class="directory_item_name" itemprop="name">Curry</h3>
															<div class="directory_item_title">Champion Corgi</div>
														</header>
														<div class="directory_item_body">
															<div class="directory_item_description" itemprop="description">
																<p>I am the ruler of all the fur in the world. Fluff master at heart, goofball deep down. I like to eat Bryan's socks, run around in circles, and swipe any popcorn that hits the floor.</p>
															</div>
														</div>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- END: Full Width Callouts -->
			</div>
			<!-- END: Page Content -->
		</main>
		<!-- END: Page -->
		<!-- Footer -->
		<footer class="footer" id="footer" itemscope itemtype="http://schema.org/WPFooter">
			<div class="footer_ribbon">
				<div class="fs-row">
					<div class="fs-cell">
						<div class="footer_ribbon_inner">
							<div class="meta" itemscope itemtype="http://schema.org/Organization">
								<div class="logo logo_footer logo_icon" itemscope itemtype="http://schema.org/Organization">
									<a class="logo_link" itemprop="url" href="page-home.html">
										<span class="logo_link_icon">
											<img class="logo_link_image" src="../../images/logo.svg" alt="" />
										</span>
										<span class="logo_link_label">Corgi Butt</span>
									</a>
									<meta content="http://example.dev.fastspot.com/site/images/logo-schema.png" itemprop="logo">
								</div>
								<div class="meta_details" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
									<span class="meta_detail meta_detail_address">
										<span class="meta_detail_icon"><svg class="icon icon_place">
												<use xlink:href="../../images/icons.svg#place"></use>
											</svg>
										</span>
										<span class="meta_detail_label meta_detail_label_address">
											<span class="meta_detail_address_group">
												<span class="meta_detail_address_street" itemprop="streetAddress"></span>
											</span>
											<span class="meta_detail_address_group">
												<span class="meta_detail_address_city" itemprop="addressLocality"></span>
												<span class="meta_detail_address_state" itemprop="addressRegion">Maryland</span>
												<span class="meta_detail_address_zip" itemprop="postalCode"></span>
											</span>
										</span>
									</span>
									<span class="meta_detail meta_detail_email">
										<span class="meta_detail_icon"><svg class="icon icon_mail">
												<use xlink:href="../../images/icons.svg#mail"></use>
											</svg>
										</span>
										<a class="meta_detail_label meta_detail_label_email" href="mailto:mimoduo@gmail.com" itemprop="email">mimoduo@gmail.com</a>
									</span>
									<span class="meta_detail meta_detail_fax">
										<p class="copyright"><span class="copyright_icon">&copy;</span> <span class="copyright_holder" itemprop="copyrightHolder" itemscope="" itemtype="http://schema.org/Organization">Corgi Butt</span> <span class="copyright_year" itemprop="copyrightYear">2019</span></p>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- END: Footer -->
	</div>
	<!-- END: page_wrapper -->
	<!-- Menu -->
	<div class="js-menu menu" id="menu">
		<nav class="js-main-nav js-main-nav-sm main_nav main_nav_sm" aria-label="Site" itemscope itemtype="http://schema.org/SiteNavigationElement">
			<div class="main_nav_header">
				<h2 class="main_nav_title">Site Navigation</h2>
			</div>
			<ul class="main_nav_list" aria-label="Site Navigation">
				<li class="js-main-nav-item-1 main_nav_item">
					<div class="main_nav_item_wrapper">
						<a class="main_nav_link" href="page-about.html" itemprop="url">
							<span class="main_nav_link_label" itemprop="name">About</span>
						</a>
					</div>
				</li>
				<li class="js-main-nav-item-2 main_nav_item">
					<div class="main_nav_item_wrapper">
						<a class="main_nav_link" href="page-pricing.html" itemprop="url">
							<span class="main_nav_link_label" itemprop="name">Pricing</span>
						</a>
					</div>
				</li>
				<li class="js-main-nav-item-3 main_nav_item">
					<div class="main_nav_item_wrapper">
						<a class="main_nav_link" href="page-contact.html" itemprop="url">
							<span class="main_nav_link_label" itemprop="name">Contact</span>
						</a>
					</div>
				</li>
			</ul>
		</nav>
		<a class="header_email_link" href="mailto:mimoduo@gmail.com">
			<span class="header_email_link_inner">
				<span class="header_email_link_icon"><svg class="icon icon_mail">
						<use xlink:href="../../images/icons.svg#mail"></use>
					</svg>
				</span>
				<span class="header_email_link_label">Email Us</span>
			</span>
		</a>
		<button class="js-swap js-menu-close menu_close" data-swap-target=".menu" data-swap-linked="menu" aria-label="Close Menu">
			<span class="menu_close_icon"><svg class="icon icon_close">
					<use xlink:href="../../images/icons.svg#close"></use>
				</svg>
			</span>
			<span class="menu_close_label">Close Menu</span>
		</button>
	</div>
	<!-- END: Menu -->
	<script>
		var WWW_ROOT = "";
		var STATIC_ROOT = "../../";
	</script>
	<script src="../../js/site.js?04-04"></script>
</body>

</html>