<!DOCTYPE html>
<html class="no-js" lang="en" itemscope="" itemtype="http://schema.org/WebPage">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<title>Pricing the Easy Way | Corgi Butt</title>
	<meta name="description" content="">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ffffff">
	<meta name="theme-color" content="#ffffff">
	<!-- Facebook -->
	<meta property="og:title" content="Pricing the Easy Way">
	<meta property="og:type" content="website">
	<meta property="og:image" content="/images/temp/social-wide.jpg">
	<meta property="og:image:width" content="1220">
	<meta property="og:image:height" content="686">
	<meta property="og:description" content="">
	<meta property="og:site_name" content="Corgi Butt">
	<script src="//code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="../../css/site.css?10-04">
	<link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Poppins:400,700" rel="stylesheet">
</head>

<body class="preload fs-grid page_layout_default">
	<a class="skip_link" id="skip_link" href="#page_main_content">Skip to Main Content</a>
	<!-- Page Wrapper -->
	<div class="page_wrapper">
		<!-- Header -->
		<header class="header" id="header" itemscope itemtype="http://schema.org/WPHeader">
			<div class="header_ribbon">
				<div class="fs-row">
					<div class="fs-cell">
						<div class="header_ribbon_inner">
							<div class="header_ribbon_group">
								<div class="logo logo_header logo_icon" itemscope itemtype="http://schema.org/Organization">
									<a class="logo_link" itemprop="url" href="page-home.html">
										<span class="logo_link_icon">
											<img class="logo_link_image" src="../../images/logo.svg" alt="" />
										</span>
										<span class="logo_link_label">Corgi Butt</span>
									</a>
									<meta content="http://example.dev.fastspot.com/site/images/logo-schema.png" itemprop="logo">
								</div>
								<nav class="js-main-nav js-main-nav-lg main_nav main_nav_lg" aria-label="Site" itemscope itemtype="http://schema.org/SiteNavigationElement">
									<div class="main_nav_header">
										<h2 class="main_nav_title">Site Navigation</h2>
									</div>
									<ul class="main_nav_list" aria-label="Site Navigation">
										<li class="js-main-nav-item-1 main_nav_item">
											<div class="main_nav_item_wrapper">
												<a class="main_nav_link" href="page-about.html" itemprop="url">
													<span class="main_nav_link_label" itemprop="name">About</span>
												</a>
											</div>
										</li>
										<li class="js-main-nav-item-2 main_nav_item">
											<div class="main_nav_item_wrapper">
												<a class="main_nav_link" href="page-pricing.html" itemprop="url">
													<span class="main_nav_link_label" itemprop="name">Pricing</span>
												</a>
											</div>
										</li>
										<li class="js-main-nav-item-3 main_nav_item">
											<div class="main_nav_item_wrapper">
												<a class="main_nav_link" href="page-contact.html" itemprop="url">
													<span class="main_nav_link_label" itemprop="name">Contact</span>
												</a>
											</div>
										</li>
									</ul>
								</nav>
							</div>
							<div class="header_ribbon_group">
								<a class="header_email_link" href="mailto:mimoduo@gmail.com">
									<span class="header_email_link_inner">
										<span class="header_email_link_icon"><svg class="icon icon_mail">
												<use xlink:href="../../images/icons.svg#mail"></use>
											</svg>
										</span>
										<span class="header_email_link_label">Email Us</span>
									</span>
								</a>
								<a class="js-swap js-menu-handle menu_handle" href="#menu" data-swap-target=".menu" data-swap-linked="menu">
									<span class="menu_handle_icon" aria-hidden="true"><svg class="icon icon_menu">
											<use xlink:href="../../images/icons.svg#menu"></use>
										</svg>
									</span>
									<span class="menu_handle_label">Open Menu</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- END: Header -->
		<!-- Page -->
		<main class="page" itemprop="mainContentOfPage">
			<!-- Page Feature -->
			<div class="page_feature">
			</div>
			<!-- END: Page Feature -->
			<!-- Page Content -->
			<div class="page_content">
				<div class="fs-row">
					<!-- Main Content -->
					<div class="fs-cell fs-lg-8 page_main_content" id="page_main_content" tabindex="-1">
						<!-- Page Header -->
						<div class="page_header">
							<h1 class="page_title">
								<span class="page_title_icon" aria-hidden="true"><svg class="icon icon_paw">
										<use xlink:href="../../images/icons.svg#paw"></use>
									</svg>
								</span>
								<span class="page_title_label">Pricing the Easy Way</span>
							</h1>
						</div>
						<!-- END: Page Header -->
						<!-- WYSIWYG -->
						<div class="typography">
							<p class="intro">Picking a website development team is a hard choice to make. Since price may be the ultimate deciding factor, <a href="#calculator">we've made a calculator</a> to help you estimate how much your site might cost with us.</p>
							<p>We charge <strong>$80 an hour</strong> with <strong>50% of our personalized estimate for you paid upfront</strong>.
						</div>
						<!-- END: WYSIWYG -->
						<!-- In Content Callouts -->
						<div class="in_content_callouts">
							<a class="wysiwyg_button_link" href="#">
								<span class="wysiwyg_button_link_inner">
									<span class="wysiwyg_button_link_label">Get a Personalize Quote</span>
									<span class="wysiwyg_button_link_icon" aria-hidden="true">
										<svg class="icon icon_mail">
											<use xlink:href="../../images/icons.svg#mail"></use>
										</svg>
									</span>
									<span class="wysiwyg_button_link_background" aria-hidden="true">
										<svg class="icon icon_paw">
											<use xlink:href="../../images/icons.svg#paw"></use>
										</svg>
									</span>
								</span>
							</a>
						</div>
						<!-- END: In Content Callouts -->
					</div>
					<!-- END: Main Content -->
					<!-- Sidebar Callouts -->
					<div class="fs-cell fs-lg-4 page_aside page_sidebar" itemscope itemtype="http://schema.org/WPSideBar">
					</div>
					<!-- END: Sidebar Callouts -->
				</div>
				<!-- Full Width Callouts -->
				<div class="full_width_callouts">
					<div class="calculator" id="calculator">
						<span class="calculator_icon"><svg class="icon icon_paw">
								<use xlink:href="../../images/icons.svg#paw"></use>
							</svg>
						</span>
						<div class="fs-row">
							<div class="fs-cell">
								<div class="calculator_inner">
									<header class="calculator_header">
										<h2 class="calculator_title">Calculator</h2>
									</header>
									<div class="calculator_body">
										<p class="calculator_caption">This estimate begins with a personalized design, leading class development, and simple hosting all bundled into a basic website.</p>
										<div class="calculator_content">
											<div class="calculator_items">
												<div class="calculator_item">
													<div class="calculator_item_body">
														<figure class="calculator_item_figure">
															<div class="lazy_image_wrapper calculator_item_image_wrapper">
																<img class="js-lazy js-lazyload calculator_item_image" data-src="//images.fastspot.com/fastspot/740x740/5" alt="">
															</div>
															<noscript>
																<div class="calculator_item_image_wrapper">
																	<img class="calculator_item_image" src="//images.fastspot.com/fastspot/740x740/5" alt="">
																</div>
															</noscript>
														</figure>
														<div class="calculator_item_content" data-label="Media Gallery" data-value="4">
															<div class="calculator_item_title">
																<span class="calculator_item_title_label">Media Gallery</span>
																<span class="calculator_item_title_hours">+4 hours</span>
															</div>
															<p class="calculator_item_caption">An organized way to display photos & videos - usually arranged within a slideshow. Good for showcasing products, events, stories, etc.</p>
															<div class="calculator_item_field">
																<input class="calculator_item_checkbox" id="Media Gallery" type="checkbox" value="Media Gallery" />
																<span class="calculator_item_hint"></span>
																<label class="calculator_item_label" for="Media Gallery">Add/Remove Media Gallery</label>
																<span class="calculator_item_action" aria-hidden="true"></span>
															</div>
														</div>
													</div>
												</div>
												<div class="calculator_item">
													<div class="calculator_item_body">
														<figure class="calculator_item_figure">
															<div class="lazy_image_wrapper calculator_item_image_wrapper">
																<img class="js-lazy js-lazyload calculator_item_image" data-src="//images.fastspot.com/fastspot/740x740/9" alt="">
															</div>
															<noscript>
																<div class="calculator_item_image_wrapper">
																	<img class="calculator_item_image" src="//images.fastspot.com/fastspot/740x740/9" alt="">
																</div>
															</noscript>
														</figure>
														<div class="calculator_item_content" data-label="Topic Row" data-value="2">
															<div class="calculator_item_title">
																<span class="calculator_item_title_label">Topic Row</span>
																<span class="calculator_item_title_hours">+2 hours</span>
															</div>
															<p class="calculator_item_caption">A custom assortment of page introductions listed one after the other.</p>
															<div class="calculator_item_field">
																<input class="calculator_item_checkbox" id="Topic Row" type="checkbox" value="Topic Row" />
																<span class="calculator_item_hint"></span>
																<label class="calculator_item_label" for="Topic Row">Add/Remove Topic Row</label>
																<span class="calculator_item_action" aria-hidden="true"></span>
															</div>
														</div>
													</div>
												</div>
												<div class="calculator_item">
													<div class="calculator_item_body">
														<figure class="calculator_item_figure">
															<div class="lazy_image_wrapper calculator_item_image_wrapper">
																<img class="js-lazy js-lazyload calculator_item_image" data-src="//images.fastspot.com/fastspot/740x740/9" alt="">
															</div>
															<noscript>
																<div class="calculator_item_image_wrapper">
																	<img class="calculator_item_image" src="//images.fastspot.com/fastspot/740x740/9" alt="">
																</div>
															</noscript>
														</figure>
														<div class="calculator_item_content" data-label="Link List" data-value="1">
															<div class="calculator_item_title">
																<span class="calculator_item_title_label">Link List</span>
																<span class="calculator_item_title_hours">+1 hour</span>
															</div>
															<p class="calculator_item_caption">An organized and decorated list of links to help call attention to groups of similar pages.</p>
															<div class="calculator_item_field">
																<input class="calculator_item_checkbox" id="Link List" type="checkbox" value="Link List" />
																<span class="calculator_item_hint"></span>
																<label class="calculator_item_label" for="Link List">Add/Remove Link List</label>
																<span class="calculator_item_action" aria-hidden="true"></span>
															</div>
														</div>
													</div>
												</div>
												<div class="calculator_item">
													<div class="calculator_item_body">
														<figure class="calculator_item_figure">
															<div class="lazy_image_wrapper calculator_item_image_wrapper">
																<img class="js-lazy js-lazyload calculator_item_image" data-src="//images.fastspot.com/fastspot/740x740/6" alt="">
															</div>
															<noscript>
																<div class="calculator_item_image_wrapper">
																	<img class="calculator_item_image" src="//images.fastspot.com/fastspot/740x740/6" alt="">
																</div>
															</noscript>
														</figure>
														<div class="calculator_item_content" data-label="News" data-value="4">
															<div class="calculator_item_title">
																<span class="calculator_item_title_label">News</span>
																<span class="calculator_item_title_hours">+4 hours</span>
															</div>
															<p class="calculator_item_caption">A listing of important stories & announcements.</p>
															<div class="calculator_item_field">
																<input class="calculator_item_checkbox" id="News" type="checkbox" value="News" />
																<span class="calculator_item_hint"></span>
																<label class="calculator_item_label" for="News">Add/Remove News</label>
																<span class="calculator_item_action" aria-hidden="true"></span>
															</div>
														</div>
													</div>
												</div>
												<div class="calculator_item">
													<div class="calculator_item_body">
														<figure class="calculator_item_figure">
															<div class="lazy_image_wrapper calculator_item_image_wrapper">
																<img class="js-lazy js-lazyload calculator_item_image" data-src="//images.fastspot.com/fastspot/740x740/1" alt="">
															</div>
															<noscript>
																<div class="calculator_item_image_wrapper">
																	<img class="calculator_item_image" src="//images.fastspot.com/fastspot/740x740/1" alt="">
																</div>
															</noscript>
														</figure>
														<div class="calculator_item_content" data-label="Events" data-value="5">
															<div class="calculator_item_title">
																<span class="calculator_item_title_label">Events</span>
																<span class="calculator_item_title_hours">+5 hours</span>
															</div>
															<p class="calculator_item_caption">What's coming up? A big list of promoted events.</p>
															<div class="calculator_item_field">
																<input class="calculator_item_checkbox" id="Events" type="checkbox" value="Events" />
																<span class="calculator_item_hint"></span>
																<label class="calculator_item_label" for="Events">Add/Remove Events</label>
																<span class="calculator_item_action" aria-hidden="true"></span>
															</div>
														</div>
													</div>
												</div>
												<div class="calculator_item">
													<div class="calculator_item_body">
														<figure class="calculator_item_figure">
															<div class="lazy_image_wrapper calculator_item_image_wrapper">
																<img class="js-lazy js-lazyload calculator_item_image" data-src="//images.fastspot.com/fastspot/740x740/2" alt="">
															</div>
															<noscript>
																<div class="calculator_item_image_wrapper">
																	<img class="calculator_item_image" src="//images.fastspot.com/fastspot/740x740/2" alt="">
																</div>
															</noscript>
														</figure>
														<div class="calculator_item_content" data-label="Facts & Stats" data-value="2">
															<div class="calculator_item_title">
																<span class="calculator_item_title_label">Facts & Stats</span>
																<span class="calculator_item_title_hours">+2 hours</span>
															</div>
															<p class="calculator_item_caption"></p>
															<div class="calculator_item_field">
																<input class="calculator_item_checkbox" id="Facts & Stats" type="checkbox" value="Facts & Stats" />
																<span class="calculator_item_hint"></span>
																<label class="calculator_item_label" for="Facts & Stats">Add/Remove Facts & Stats</label>
																<span class="calculator_item_action" aria-hidden="true"></span>
															</div>
														</div>
													</div>
												</div>
												<div class="calculator_item">
													<div class="calculator_item_body">
														<figure class="calculator_item_figure">
															<div class="lazy_image_wrapper calculator_item_image_wrapper">
																<img class="js-lazy js-lazyload calculator_item_image" data-src="//images.fastspot.com/fastspot/740x740/3" alt="">
															</div>
															<noscript>
																<div class="calculator_item_image_wrapper">
																	<img class="calculator_item_image" src="//images.fastspot.com/fastspot/740x740/3" alt="">
																</div>
															</noscript>
														</figure>
														<div class="calculator_item_content" data-label="Google Search" data-value="2">
															<div class="calculator_item_title">
																<span class="calculator_item_title_label">Google Search</span>
																<span class="calculator_item_title_hours">+2 hours</span>
															</div>
															<p class="calculator_item_caption">A page dedicated to searching through your site using google's custom search engine. Everyone loves to search!</p>
															<div class="calculator_item_field">
																<input class="calculator_item_checkbox" id="Google Search" type="checkbox" value="Google Search" />
																<span class="calculator_item_hint"></span>
																<label class="calculator_item_label" for="Google Search">Add/Remove Google Search</label>
																<span class="calculator_item_action" aria-hidden="true"></span>
															</div>
														</div>
													</div>
												</div>
												<div class="calculator_item">
													<div class="calculator_item_body">
														<figure class="calculator_item_figure">
															<div class="lazy_image_wrapper calculator_item_image_wrapper">
																<img class="js-lazy js-lazyload calculator_item_image" data-src="//images.fastspot.com/fastspot/740x740/4" alt="">
															</div>
															<noscript>
																<div class="calculator_item_image_wrapper">
																	<img class="calculator_item_image" src="//images.fastspot.com/fastspot/740x740/4" alt="">
																</div>
															</noscript>
														</figure>
														<div class="calculator_item_content" data-label="Media Callout" data-value="3">
															<div class="calculator_item_title">
																<span class="calculator_item_title_label">Media Callout</span>
																<span class="calculator_item_title_hours">+3 hours</span>
															</div>
															<p class="calculator_item_caption">An entire section dedicated to displaying and describing an important idea.</p>
															<div class="calculator_item_field">
																<input class="calculator_item_checkbox" id="Media Callout" type="checkbox" value="Media Callout" />
																<span class="calculator_item_hint"></span>
																<label class="calculator_item_label" for="Media Callout">Add/Remove Media Callout</label>
																<span class="calculator_item_action" aria-hidden="true"></span>
															</div>
														</div>
													</div>
												</div>
												<div class="calculator_item">
													<div class="calculator_item_body">
														<figure class="calculator_item_figure">
															<div class="lazy_image_wrapper calculator_item_image_wrapper">
																<img class="js-lazy js-lazyload calculator_item_image" data-src="//images.fastspot.com/fastspot/740x740/7" alt="">
															</div>
															<noscript>
																<div class="calculator_item_image_wrapper">
																	<img class="calculator_item_image" src="//images.fastspot.com/fastspot/740x740/7" alt="">
																</div>
															</noscript>
														</figure>
														<div class="calculator_item_content" data-label="Tabs" data-value="2">
															<div class="calculator_item_title">
																<span class="calculator_item_title_label">Tabs</span>
																<span class="calculator_item_title_hours">+2 hours</span>
															</div>
															<p class="calculator_item_caption">Grouped buttons that allow switching between related content.</p>
															<div class="calculator_item_field">
																<input class="calculator_item_checkbox" id="Tabs" type="checkbox" value="Tabs" />
																<span class="calculator_item_hint"></span>
																<label class="calculator_item_label" for="Tabs">Add/Remove Tabs</label>
																<span class="calculator_item_action" aria-hidden="true"></span>
															</div>
														</div>
													</div>
												</div>
												<div class="calculator_item">
													<div class="calculator_item_body">
														<figure class="calculator_item_figure">
															<div class="lazy_image_wrapper calculator_item_image_wrapper">
																<img class="js-lazy js-lazyload calculator_item_image" data-src="//images.fastspot.com/fastspot/740x740/8" alt="">
															</div>
															<noscript>
																<div class="calculator_item_image_wrapper">
																	<img class="calculator_item_image" src="//images.fastspot.com/fastspot/740x740/8" alt="">
																</div>
															</noscript>
														</figure>
														<div class="calculator_item_content" data-label="Testimonials" data-value="2">
															<div class="calculator_item_title">
																<span class="calculator_item_title_label">Testimonials</span>
																<span class="calculator_item_title_hours">+2 hours</span>
															</div>
															<p class="calculator_item_caption">A personalized selection of stories showing the positive relationships between you and your viewers.</p>
															<div class="calculator_item_field">
																<input class="calculator_item_checkbox" id="Testimonials" type="checkbox" value="Testimonials" />
																<span class="calculator_item_hint"></span>
																<label class="calculator_item_label" for="Testimonials">Add/Remove Testimonials</label>
																<span class="calculator_item_action" aria-hidden="true"></span>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="calculator_results">
												<div class="calculator_results_body">
												</div>
												<a class="calculator_results_link" href="#"></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- END: Full Width Callouts -->
			</div>
			<!-- END: Page Content -->
		</main>
		<!-- END: Page -->
		<!-- Footer -->
		<footer class="footer" id="footer" itemscope itemtype="http://schema.org/WPFooter">
			<div class="footer_ribbon">
				<div class="fs-row">
					<div class="fs-cell">
						<div class="footer_ribbon_inner">
							<div class="meta" itemscope itemtype="http://schema.org/Organization">
								<div class="logo logo_footer logo_icon" itemscope itemtype="http://schema.org/Organization">
									<a class="logo_link" itemprop="url" href="page-home.html">
										<span class="logo_link_icon">
											<img class="logo_link_image" src="../../images/logo.svg" alt="" />
										</span>
										<span class="logo_link_label">Corgi Butt</span>
									</a>
									<meta content="http://example.dev.fastspot.com/site/images/logo-schema.png" itemprop="logo">
								</div>
								<div class="meta_details" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
									<span class="meta_detail meta_detail_address">
										<span class="meta_detail_icon"><svg class="icon icon_place">
												<use xlink:href="../../images/icons.svg#place"></use>
											</svg>
										</span>
										<span class="meta_detail_label meta_detail_label_address">
											<span class="meta_detail_address_group">
												<span class="meta_detail_address_street" itemprop="streetAddress"></span>
											</span>
											<span class="meta_detail_address_group">
												<span class="meta_detail_address_city" itemprop="addressLocality"></span>
												<span class="meta_detail_address_state" itemprop="addressRegion">Maryland</span>
												<span class="meta_detail_address_zip" itemprop="postalCode"></span>
											</span>
										</span>
									</span>
									<span class="meta_detail meta_detail_email">
										<span class="meta_detail_icon"><svg class="icon icon_mail">
												<use xlink:href="../../images/icons.svg#mail"></use>
											</svg>
										</span>
										<a class="meta_detail_label meta_detail_label_email" href="mailto:mimoduo@gmail.com" itemprop="email">mimoduo@gmail.com</a>
									</span>
									<span class="meta_detail meta_detail_fax">
										<p class="copyright"><span class="copyright_icon">&copy;</span> <span class="copyright_holder" itemprop="copyrightHolder" itemscope="" itemtype="http://schema.org/Organization">Corgi Butt</span> <span class="copyright_year" itemprop="copyrightYear">2019</span></p>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- END: Footer -->
	</div>
	<!-- END: page_wrapper -->
	<!-- Menu -->
	<div class="js-menu menu" id="menu">
		<nav class="js-main-nav js-main-nav-sm main_nav main_nav_sm" aria-label="Site" itemscope itemtype="http://schema.org/SiteNavigationElement">
			<div class="main_nav_header">
				<h2 class="main_nav_title">Site Navigation</h2>
			</div>
			<ul class="main_nav_list" aria-label="Site Navigation">
				<li class="js-main-nav-item-1 main_nav_item">
					<div class="main_nav_item_wrapper">
						<a class="main_nav_link" href="page-about.html" itemprop="url">
							<span class="main_nav_link_label" itemprop="name">About</span>
						</a>
					</div>
				</li>
				<li class="js-main-nav-item-2 main_nav_item">
					<div class="main_nav_item_wrapper">
						<a class="main_nav_link" href="page-pricing.html" itemprop="url">
							<span class="main_nav_link_label" itemprop="name">Pricing</span>
						</a>
					</div>
				</li>
				<li class="js-main-nav-item-3 main_nav_item">
					<div class="main_nav_item_wrapper">
						<a class="main_nav_link" href="page-contact.html" itemprop="url">
							<span class="main_nav_link_label" itemprop="name">Contact</span>
						</a>
					</div>
				</li>
			</ul>
		</nav>
		<a class="header_email_link" href="mailto:mimoduo@gmail.com">
			<span class="header_email_link_inner">
				<span class="header_email_link_icon"><svg class="icon icon_mail">
						<use xlink:href="../../images/icons.svg#mail"></use>
					</svg>
				</span>
				<span class="header_email_link_label">Email Us</span>
			</span>
		</a>
		<button class="js-swap js-menu-close menu_close" data-swap-target=".menu" data-swap-linked="menu" aria-label="Close Menu">
			<span class="menu_close_icon"><svg class="icon icon_close">
					<use xlink:href="../../images/icons.svg#close"></use>
				</svg>
			</span>
			<span class="menu_close_label">Close Menu</span>
		</button>
	</div>
	<!-- END: Menu -->
	<script>
		var WWW_ROOT = "";
		var STATIC_ROOT = "../../";
	</script>
	<script src="../../js/site.js?10-04"></script>
</body>

</html>