<!DOCTYPE html>
<html class="no-js" lang="en" itemscope="" itemtype="http://schema.org/WebPage">

	
	
	
	
	
	

	

	
	


	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">

		<title>Home | Corgi Butt</title>
		<meta name="description" content="">

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ffffff">
<meta name="theme-color" content="#ffffff">

		<!-- Facebook -->
		<meta property="og:title" content="Home">
		<meta property="og:type" content="website">
		<meta property="og:image" content="/images/temp/social-wide.jpg">
		<meta property="og:image:width" content="1220">
		<meta property="og:image:height" content="686">
		<meta property="og:description" content="">
		<meta property="og:site_name" content="Corgi Butt">

		

		<script src="//code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

		

		<link rel="stylesheet" href="../../css/site.css?17-02">
		<link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Poppins:400,700" rel="stylesheet">
	</head>

	<body class="preload fs-grid page_layout_home">

		
			
		

		
			
		

		
			
		

		
			
		

		
			
		

		
			
		

		
			
		

		
			
		

		
			
		

		
			
		

		


		

		<a class="skip_link" id="skip_link" href="#page_main_content">Skip to Main Content</a>

		<!-- Page Wrapper -->
		<div class="page_wrapper">
			<!-- Header -->
			<header class="header" id="header" itemscope itemtype="http://schema.org/WPHeader">
				<div class="header_ribbon">
					<div class="fs-row">
						<div class="fs-cell">
							<div class="header_ribbon_inner">
								<div class="header_ribbon_group">
									

<div class="logo logo_header logo_icon" itemscope itemtype="http://schema.org/Organization">
	<a class="logo_link" itemprop="url" href="page-home.html">
		
		<span class="logo_link_icon">
			<img class="logo_link_image" src="../../images/logo.svg" alt="" />
		</span>
		
		<span class="logo_link_label">Corgi Butt</span>
	</a>
	<meta content="http://example.dev.fastspot.com/site/images/logo-schema.png" itemprop="logo">
</div>


									

<nav class="js-main-nav js-main-nav-lg main_nav main_nav_lg" aria-label="Site" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<div class="main_nav_header">
		<h2 class="main_nav_title">Site Navigation</h2>
	</div>
	<ul class="main_nav_list" aria-label="Site Navigation">
		
		<li class="js-main-nav-item-1 main_nav_item">
			<div class="main_nav_item_wrapper">
				<a class="main_nav_link" href="page-about.html" itemprop="url">
					<span class="main_nav_link_label" itemprop="name">About</span>
				</a>
				
			</div>
			
		</li>
		
		<li class="js-main-nav-item-2 main_nav_item">
			<div class="main_nav_item_wrapper">
				<a class="main_nav_link" href="page-pricing.html" itemprop="url">
					<span class="main_nav_link_label" itemprop="name">Pricing</span>
				</a>
				
			</div>
			
		</li>
		
		<li class="js-main-nav-item-3 main_nav_item">
			<div class="main_nav_item_wrapper">
				<a class="main_nav_link" href="page-contact.html" itemprop="url">
					<span class="main_nav_link_label" itemprop="name">Contact</span>
				</a>
				
			</div>
			
		</li>
		
	</ul>
</nav>

								</div>
								<div class="header_ribbon_group">
									<a class="header_email_link" href="mailto:mimoduo@gmail.com">
										<span class="header_email_link_inner">
											<span class="header_email_link_icon">
<svg class="icon icon_mail">
	<use xlink:href="../../images/icons.svg#mail"></use>
</svg>
</span>
											<span class="header_email_link_label">Email Us</span>
										</span>
									</a>
									

<a class="js-swap js-menu-handle menu_handle" href="#menu" data-swap-target=".menu" data-swap-linked="menu">
	
	<span class="menu_handle_icon" aria-hidden="true">
<svg class="icon icon_menu">
	<use xlink:href="../../images/icons.svg#menu"></use>
</svg>
</span>
	
	<span class="menu_handle_label">Open Menu</span>
</a>

								</div>
							</div>
						</div>
					</div>
				</div>
			</header>
			<!-- END: Header -->

			<!-- Page -->
			<main class="page" itemprop="mainContentOfPage">
				

				<!-- Page Content -->
				<div class="page_content">
					

					<!-- Full Width Callouts -->
					<div class="full_width_callouts" id="page_main_content">
						
	<div class="spotlight">
	<div class="spotlight_media">
		

<div class="js-background js-background-video spotlight_background" data-background-options='{"source": {
"poster": "//images.fastspot.com/fastspot/1220x686/", "video": "https://www.youtube.com/watch?v=-OfOkiVFmhM"
}, "lazy": true}' aria-hidden="true"></div>

	</div>
  <div class="spotlight_wrapper">
    <div class="fs-row">
      <div class="fs-cell">
        <div class="spotlight_inner">
          <div class="spotlight_content">
            <header class="spotlight_header">
              <h2 class="spotlight_title">Stronger Websites</h2>
            </header>
            <div class="spotlight_body">
              <div class="spotlight_description">
                <p>Corgi Butt is a small team of two focused on building stronger Maryland websites through our client's engagement, well structured designs, and leading class development practices.</p>
              </div>
            </div>
            
            <footer class="spotlight_links">
              
              
<a class="spotlight_link" href="#">
	<span class="spotlight_link_inner">
		<span class="spotlight_link_label">Your Idea, Our Email</span>
		
		<span class="spotlight_link_icon" aria-hidden="true">
			<svg class="icon icon_mail">
				<use xlink:href="../../images/icons.svg#mail"></use>
			</svg>
		</span>
		<span class="spotlight_link_background" aria-hidden="true">
			<svg class="icon icon_paw">
				<use xlink:href="../../images/icons.svg#paw"></use>
			</svg>
		</span>
		
	</span>
</a>

              
            </footer>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
	
	<div class="timeline">
  <div class="fs-row">
    <div class="fs-cell">
      <div class="timeline_inner">
        <div class="timeline_content">
          <header class="timeline_header">
            <h2 class="timeline_title">How We Work With You</h2>
            <p class="timeline_caption">Creating a website is a big undertaking and often misunderstood being. To make it less daunting, we work with you, step by step, for us to roll forward with a website you can be proud of.</p>
            
<a class="timeline_link" href="#">
	<span class="timeline_link_inner">
		<span class="timeline_link_label">Work With Us</span>
		
		<span class="timeline_link_icon" aria-hidden="true">
			<svg class="icon icon_mail">
				<use xlink:href="../../images/icons.svg#mail"></use>
			</svg>
		</span>
		<span class="timeline_link_background" aria-hidden="true">
			<svg class="icon icon_paw">
				<use xlink:href="../../images/icons.svg#paw"></use>
			</svg>
		</span>
		
	</span>
</a>

          </header>
          <div class="timeline_body">
            <span class="timeline_label">The Beginning</span>
            <ol class="timeline_items">
              
                <li class="timeline_item">
                  <article class="timeline_item_article">
                    <span class="timeline_item_figure">
                      
                    </span>
                    <div class="timeline_item_body">
                      <header class="timeline_item_header">
                        <h3 class="timeline_item_title">
                          <span class="timeline_item_title_index">1.</span>
                          <span class="timeline_item_title_label">We Chat</span>
                        </h3>
                      </header>
                      <div class="timeline_item_caption">
                        The first step is getting to know you and us! During our chat, we'll listen to your ideas and turn them into an actionable plan - whether that's a simple design refresh or a completely new site.
                      </div>
                    </div>
                  </article>
                </li>
              
                <li class="timeline_item">
                  <article class="timeline_item_article">
                    <span class="timeline_item_figure">
                      
                    </span>
                    <div class="timeline_item_body">
                      <header class="timeline_item_header">
                        <h3 class="timeline_item_title">
                          <span class="timeline_item_title_index">2.</span>
                          <span class="timeline_item_title_label">We Design</span>
                        </h3>
                      </header>
                      <div class="timeline_item_caption">
                        With a project plan on paper, we design a website that captures the best parts of your brand and embodies a thoughtful approach to user interfaces. We live in a digital age so feel free to suggest some tweaks here!
                      </div>
                    </div>
                  </article>
                </li>
              
                <li class="timeline_item">
                  <article class="timeline_item_article">
                    <span class="timeline_item_figure">
                      
                    </span>
                    <div class="timeline_item_body">
                      <header class="timeline_item_header">
                        <h3 class="timeline_item_title">
                          <span class="timeline_item_title_index">3.</span>
                          <span class="timeline_item_title_label">We Develop</span>
                        </h3>
                      </header>
                      <div class="timeline_item_caption">
                        We tailor every inch of your new design for any screen imaginable across the web. We consider smooth performance, usability, accessibility, and search engine optimization to be the paramount of web development and user engagement.
                      </div>
                    </div>
                  </article>
                </li>
              
                <li class="timeline_item">
                  <article class="timeline_item_article">
                    <span class="timeline_item_figure">
                      
                    </span>
                    <div class="timeline_item_body">
                      <header class="timeline_item_header">
                        <h3 class="timeline_item_title">
                          <span class="timeline_item_title_index">4.</span>
                          <span class="timeline_item_title_label">We Integrate</span>
                        </h3>
                      </header>
                      <div class="timeline_item_caption">
                        A <em>completely optional</em> step but a wise one if you want to be able to manage your own content. We hop to it and integrate your website into <a href='https://www.bigtreecms.org/' target='_blank'>Bigtree Content Management System</a>, an easy to use powerhouse of a CMS.
                      </div>
                    </div>
                  </article>
                </li>
              
                <li class="timeline_item">
                  <article class="timeline_item_article">
                    <span class="timeline_item_figure">
                      
                    </span>
                    <div class="timeline_item_body">
                      <header class="timeline_item_header">
                        <h3 class="timeline_item_title">
                          <span class="timeline_item_title_index">5.</span>
                          <span class="timeline_item_title_label">We Host</span>
                        </h3>
                      </header>
                      <div class="timeline_item_caption">
                        Your site has to live somewhere, right? Whether you're currently hosting your website or have yet to host a website, we'll work with you to get your site up and running.
                      </div>
                    </div>
                  </article>
                </li>
              
            </ol>
            <span class="timeline_label">Your New Website has Launched <span class='timeline_rocket'>🚀</span></span>
          </div>
        </div>
        <footer class="timeline_footer">
          
<a class="timeline_link" href="#">
	<span class="timeline_link_inner">
		<span class="timeline_link_label">Let's Start Your Timeline!</span>
		
		<span class="timeline_link_icon" aria-hidden="true">
			<svg class="icon icon_mail">
				<use xlink:href="../../images/icons.svg#mail"></use>
			</svg>
		</span>
		<span class="timeline_link_background" aria-hidden="true">
			<svg class="icon icon_paw">
				<use xlink:href="../../images/icons.svg#paw"></use>
			</svg>
		</span>
		
	</span>
</a>

        </footer>
      </div>
    </div>
  </div>
</div>

					</div>
					<!-- END: Full Width Callouts -->
				</div>
				<!-- END: Page Content -->
			</main>
			<!-- END: Page -->

			<!-- Footer -->
			<footer class="footer" id="footer" itemscope itemtype="http://schema.org/WPFooter">
				<div class="footer_ribbon">
					<div class="fs-row">
						<div class="fs-cell">
							<div class="footer_ribbon_inner">
								

<div class="meta" itemscope itemtype="http://schema.org/Organization">
	

<div class="logo logo_footer logo_icon" itemscope itemtype="http://schema.org/Organization">
	<a class="logo_link" itemprop="url" href="page-home.html">
		
		<span class="logo_link_icon">
			<img class="logo_link_image" src="../../images/logo.svg" alt="" />
		</span>
		
		<span class="logo_link_label">Corgi Butt</span>
	</a>
	<meta content="http://example.dev.fastspot.com/site/images/logo-schema.png" itemprop="logo">
</div>

	<div class="meta_details" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
		<span class="meta_detail meta_detail_address">
			<span class="meta_detail_icon">
<svg class="icon icon_place">
	<use xlink:href="../../images/icons.svg#place"></use>
</svg>
</span>
			<span class="meta_detail_label meta_detail_label_address">
				<span class="meta_detail_address_group">
					<span class="meta_detail_address_street" itemprop="streetAddress"></span>
				</span>
				<span class="meta_detail_address_group">
					<span class="meta_detail_address_city" itemprop="addressLocality"></span>
					<span class="meta_detail_address_state" itemprop="addressRegion">Maryland</span>
					<span class="meta_detail_address_zip" itemprop="postalCode"></span>
				</span>
			</span>
		</span>
		
		<span class="meta_detail meta_detail_email">
			<span class="meta_detail_icon">
<svg class="icon icon_mail">
	<use xlink:href="../../images/icons.svg#mail"></use>
</svg>
</span>
			<a class="meta_detail_label meta_detail_label_email" href="mailto:mimoduo@gmail.com" itemprop="email">mimoduo@gmail.com</a>
		</span>
		
		
		<span class="meta_detail meta_detail_fax">
			<p class="copyright"><span class="copyright_icon">&copy;</span> <span class="copyright_holder" itemprop="copyrightHolder" itemscope="" itemtype="http://schema.org/Organization">Corgi Butt</span> <span class="copyright_year" itemprop="copyrightYear">2019</span></p>
		</span>
	</div>
</div>

							</div>
						</div>
					</div>
				</div>
			</footer>
			<!-- END: Footer -->
		</div>
		<!-- END: page_wrapper -->

		<!-- Menu -->
		<div class="js-menu menu" id="menu">
			

<nav class="js-main-nav js-main-nav-sm main_nav main_nav_sm" aria-label="Site" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<div class="main_nav_header">
		<h2 class="main_nav_title">Site Navigation</h2>
	</div>
	<ul class="main_nav_list" aria-label="Site Navigation">
		
		<li class="js-main-nav-item-1 main_nav_item">
			<div class="main_nav_item_wrapper">
				<a class="main_nav_link" href="page-about.html" itemprop="url">
					<span class="main_nav_link_label" itemprop="name">About</span>
				</a>
				
			</div>
			
		</li>
		
		<li class="js-main-nav-item-2 main_nav_item">
			<div class="main_nav_item_wrapper">
				<a class="main_nav_link" href="page-pricing.html" itemprop="url">
					<span class="main_nav_link_label" itemprop="name">Pricing</span>
				</a>
				
			</div>
			
		</li>
		
		<li class="js-main-nav-item-3 main_nav_item">
			<div class="main_nav_item_wrapper">
				<a class="main_nav_link" href="page-contact.html" itemprop="url">
					<span class="main_nav_link_label" itemprop="name">Contact</span>
				</a>
				
			</div>
			
		</li>
		
	</ul>
</nav>


			<a class="header_email_link" href="mailto:mimoduo@gmail.com">
				<span class="header_email_link_inner">
					<span class="header_email_link_icon">
<svg class="icon icon_mail">
	<use xlink:href="../../images/icons.svg#mail"></use>
</svg>
</span>
					<span class="header_email_link_label">Email Us</span>
				</span>
			</a>

			<button class="js-swap js-menu-close menu_close" data-swap-target=".menu" data-swap-linked="menu" aria-label="Close Menu">
				<span class="menu_close_icon">
<svg class="icon icon_close">
	<use xlink:href="../../images/icons.svg#close"></use>
</svg>
</span>
				<span class="menu_close_label">Close Menu</span>
			</button>
		</div>
		<!-- END: Menu -->

		<script>
			var WWW_ROOT = "";
			var STATIC_ROOT = "../../";
		</script>
		
		<script src="../../js/site.js?17-02"></script>
		
	</body>
</html>
