/* ==========================================================================
	Spotlight
============================================================================= */

.spotlight {
	position: relative;

	background-color: #000;
  border-bottom: 6px solid $orange;
	color: #fff;
}

.spotlight_media {
  position: relative;

  overflow: hidden;
  padding-bottom: $wide;

	@media print {
		display: none;
  }
  
  &:before {
    
    @media screen and (min-width: 600px) {
      @include cover;

      z-index: 2;
  
      background:
        radial-gradient(
          ellipse at center,
            #000,
            transparent
        );
      content: "";
    }
  }
}

.spotlight_background {
  @include cover;
  
  display: none;

  @media #{$min_lg} {
    display: block;
  }
}

.spotlight_poster_background {
  @include cover;
}


/* Spotlight Content
============================================================================= */

.spotlight_wrapper {
  background: #000;
  padding: $margin_sm 0;

  @media screen and (min-width: 600px) {
    width: 100%;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 4;
  
    background: none;
    padding: 0;
    text-align: center;
    transform: translate(0, -50%);
  }
}

.spotlight_inner {}

.spotlight_header {}

.spotlight_title {
  @include title;

	font-size: 30px;
	line-height: (70 / 60);
  margin: 0 0 10px;

	@media #{$min_md} {
		font-size: 44px;
  }
  
	@media #{$min_xl} {
		font-size: 70px;
	}
}

.spotlight_body {
  max-width: 770px;

  margin: 0 auto 20px;

  @media #{$min_xl} {
    margin-bottom: 25px;
  }
}

.spotlight_description {
  @include intro_text;
  
	p {
		margin: 0;
	}
}

.spotlight_links {

	@media print {
		display: none;
	}
}

.spotlight_link {
  @include button_ghost;
  @include button_inline;
}