.image_pair {
    @include margined_lg;
}

.image_pair_inner {

	@media #{$min_sm} {
		display: flex;
		margin: 0 -10px;
	}
}

.image_pair_figure {
    align-self: flex-start;
    display: flex;
    flex-direction: column-reverse;

	@media #{$min_sm} {
		width: 50%;

        padding: 0 10px;
    }
    
    &:not(:last-child) {
        margin-bottom: 20px;

        @media #{$min_sm} {
            margin-bottom: 0;
        }
    }
}

.image_pair_image {
    width: 100%;

	display: block;
}

.image_pair_caption {
    @include h5;

    margin-bottom: 10px;
}
