<div class="spotlight">
	<div class="spotlight_media">
		{% include par ~ "background-video.twig" with {
			class: "spotlight",
			poster: img.wide.lrg,
			image: image,
			sources: {
				video: "https://www.youtube.com/watch?v=-OfOkiVFmhM"
			}
		} %}
	</div>
  <div class="spotlight_wrapper">
    <div class="fs-row">
      <div class="fs-cell">
        <div class="spotlight_inner">
          <div class="spotlight_content">
            <header class="spotlight_header">
              <h2 class="spotlight_title">{{ title }}</h2>
            </header>
            <div class="spotlight_body">
              <div class="spotlight_description">
                <p>{{ description }}</p>
              </div>
            </div>
            {% if links %}
            <footer class="spotlight_links">
              {% for link in links %}
              {{ site.button("spotlight", link, "mail") }}
              {% endfor %}
            </footer>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>