{% extends "_base.twig" %}

{% block page %}
	{% set page = {
		metaImage: "/images/temp/social-wide.jpg",
		metaImageWidth: "1220",
		metaImageHeight: "686",
		metaCard: "summary_large_image",
		title: "Pricing the Easy Way",
		intro: "",
		layout: "default"
	} %}
{% endblock %}

{% block breadcrumbNav %}
	{% set breadcrumbNav = [
		page.title
	] %}
{% endblock %}

{% block typography %}
	<p class="intro">Picking a website development team is a hard choice to make. Since price may be the ultimate deciding factor, <a href="#calculator">we've made a calculator</a> to help you estimate how much your site might cost with us.</p> 
	<p>We charge <strong>$80 an hour</strong> with <strong>50% of our personalized estimate for you paid upfront</strong>.
{% endblock %}

{% block in_content_callouts %}
	{% include inc ~ "button.twig" with {
		label: "Get a Personalize Quote"
	} %}
{% endblock %}

{% block full_width_callouts %}
	{% include full ~ "calculator.twig" with {
		caption: "This estimate begins with a personalized design, leading class development, and simple hosting all bundled into a basic website.",
		items: [
			{
				image: 5,
				label: "Media Gallery",
				caption: "An organized way to display photos & videos - usually arranged within a slideshow. Good for showcasing products, events, stories, etc.",
				value: 4
			},
			{
				image: 9,
				label: "Topic Row",
				caption: "A custom assortment of page introductions listed one after the other.",
				value: 2
			},
			{
				image: 9,
				label: "Link List",
				caption: "An organized and decorated list of links to help call attention to groups of similar pages.",
				value: 1
			},
			{
				image: 6,
				label: "News",
				caption: "A listing of important stories & announcements.",
				value: 4
			},
			{
				image: 1,
				label: "Events",
				caption: "What's coming up? A big list of promoted events.",
				value: 5
			},
			{
				image: 2,
				label: "Facts & Stats",
				caption: "",
				value: 2
			},
			{
				image: 3,
				label: "Google Search",
				caption: "A page dedicated to searching through your site using google's custom search engine. Everyone loves to search!",
				value: 2
			},
			{
				image: 4,
				label: "Media Callout",
				caption: "An entire section dedicated to displaying and describing an important idea.",
				value: 3
			},
			{
				image: 7,
				label: "Tabs",
				caption: "Grouped buttons that allow switching between related content.",
				value: 2
			},
			{
				image: 8,
				label: "Testimonials",
				caption: "A personalized selection of stories showing the positive relationships between you and your viewers.",
				value: 2
			}
		]
	} %}
{% endblock %}
