/* ==========================================================================
	Buttons
============================================================================= */

button {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
}

@mixin button() {
	cursor: pointer;
	text-align: center;
}

@mixin button_layout($layout: true) {

	@if $layout {

		[class$="inner"] {
			align-items: center;
			display: flex;
		}

		[class$="label"] {}

		[class$="icon"] {

			@media print {
				display: none;
			}
		}
	}
}

@mixin button_text() {}

@mixin button_fill() {
	background: #eee;
	border: 3px solid rgba(#000, .1);
	border-radius: 50px;
	padding: 9px 15px;
	transition:
		background .25s,
		color .25s;

	&:focus,
	&:hover {
		background: #fff;
		border-color: $orange;
	}

	[class$="icon"] {
		color: $dark;
		margin-right: 5px;
	}

	[class$="label"] {
		color: $dark;
		font-size: 14px;
		font-weight: 700;
	}
}

@mixin button_ghost(
	$background: $orange,
    $color: $dark
) {
	position: relative;
	z-index: 2;

	background: $background;
	border: 3px solid $orange;
	border-radius: 50px;
	color: $color;
	padding: 20px 30px;
	transition: 
		background .25s,
		color .25s;

	&:hover,
	&:focus {

		@if $background == $orange {
			background: transparent;
		} @else {
			background: $orange;
			color: $dark;
		}
	}

	[class$="label"] {
		@include sans;

		font-size: 16px;
		font-weight: 700;
	}

	[class$="icon"] {
		margin-left: 10px;
	}

	[class$="background"] {
		position: absolute;
		top: 50%;
		right: 0;
		z-index: -2;

		color: $dorange;
		opacity: .25;
		transform:
			translate(0, -50%)
			scale(2)
			rotate(-8deg);
	}
}

@mixin button_inline($layout: true) {
	@include button;
	@include button_layout($layout);

	display: inline-block;
	vertical-align: top;
}

@mixin button_block($layout: true) {
	@include button;
	@include button_layout($layout);

	display: block;
}

@mixin button_mixed_block($layout: true) {
	@include button_block;
	@include button_layout($layout);

	@media #{$min_sm} {
		display: inline-block;
	}
}


/* Skip Link
============================================================================= */

.skip_link {
	@include button_inline;
	@include button_fill;

	position: absolute;
	top: 0;
	left: 50%;
	z-index: 100;

	display: block;
	padding: 10px 20px;
	text-align: center;
	transform: translate(-50%, -200%);
	transition: transform .35s;

	&:focus,
	&:active {
		transform: translate(-50%, 40px);
	}
}
