<div class="codepen_block">
    <div class="fs-row">
        <div class="fs-cell">
            <p class="codepen" data-height="400" data-theme-id="light" data-default-tab="result" data-user="mimoduo" data-slug-hash="BayoQWQ" style="height: 400px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Corgu Cat">
            <span>See the Pen <a href="https://codepen.io/mimoduo/pen/BayoQWQ">
            Corgu Cat</a> by Bryan Stoner (<a href="https://codepen.io/mimoduo">@mimoduo</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <p class="codepen" data-height="400" data-theme-id="light" data-default-tab="result" data-user="mimoduo" data-slug-hash="ExxBdov" style="height: 400px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Curry's Butt">
            <span>See the Pen <a href="https://codepen.io/mimoduo/pen/ExxBdov">
            Curry's Butt</a> by Bryan Stoner (<a href="https://codepen.io/mimoduo">@mimoduo</a>)
            on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
        </div>
    </div>
</div>