<div class="image_pair">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="image_pair_inner">
				<figure class="image_pair_figure">
                    {% include par ~ "image.twig" with {
                        class: "image_pair",
                        alt: left.alt,
                        image: "images/" ~ left.image ~ ".png"
                    } %}
                    <figcaption class="image_pair_caption">{{ left.caption }}</figcaption>
				</figure>
				<figure class="image_pair_figure">
					{% include par ~ "image.twig" with {
                        class: "image_pair",
                        alt: right.alt,
                        image: "images/" ~ right.image ~ ".png"
                    } %}
                    <figcaption class="image_pair_caption">{{ right.caption }}</figcaption>
				</figure>
			</div>
		</div>
	</div>
</div>